.article-container {
    background: #424242;
}

.article-header {
    display: flex;
    flex-direction: column; 
}

.article-link {
    text-decoration: none;
    color: white;
}

.article-link:hover {
    text-decoration: underline;
}

.article-content {
    padding: 24px;
}

.article-content a, a:link, a:visited {
    color: white;
}

.article-title {
    display: flex;
    justify-content: space-between;
}

.article-header-center {
    align-self: center;
}