<article class="article-container">
    <ng-template [cdkPortalOutlet]="templatePortal"></ng-template>
    <ng-template #templatePortalContent>
        <header class="article-header">
            <div class="article-title">
                <span></span>
                <h2><a class="article-link" target="_blank" href="{{feedItem?.link}}" rel="bookmark">{{feedItem?.title}}</a></h2>
                <button mat-icon-button (click)="expanded = false">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <time class="article-header-center" datetime="item.pubDate">{{feedItem?.pubDate | date: 'full'}}</time>
        </header>
        <div class="article-content" [innerHtml]="feedItem?.description">
        </div>
    </ng-template>
</article>