<div class="feed-container">
    <cdk-accordion class="example-accordion">
        <cdk-accordion-item *ngFor="let item of feedItems" #accordionItem="cdkAccordionItem"
            (opened)="onOpenFeedItem(item)">
            <div class="feed-row">
                <div class="feed-item clickable" (click)="updateSaved(item, item.saved = !item.saved)">
                    <mat-icon>{{item.saved ? 'bookmark' : 'bookmark_border'}}</mat-icon>
                </div>
                <div class="feed-item clickable" (click)="filterOnChannel(item)">{{item.channelName}}</div>
                <div class="feed-item feed-item-center feed-content clickable" (click)="accordionItem.toggle()">
                    <span [ngClass]="{'feed-title c-gap': true, 'feed-lighter': item.markedAsRead}">{{item.title}}</span>
                    <div class="c-gap feed-lighter" [innerHtml]="item.description | stripTags"></div>
                </div>
                <div class="feed-item">
                    {{item.pubDate | date:'shortDate'}}
                </div>
            </div>
            <feed-article [expanded]="accordionItem.expanded" [feedItem]="item"></feed-article>
        </cdk-accordion-item>
    </cdk-accordion>
</div>
