<div class="topic-container" [class.topic-is-mobile]="(isScreenSmall | async)">
    <mat-toolbar color="primary" class="topic-toolbar">
        <button mat-icon-button (click)="toggleSidenav()" *ngIf="(isScreenSmall | async)">
            <mat-icon>menu</mat-icon>
        </button>
        <a mat-button routerLink="/" aria-label="ngx feed reader">
            <h1>Ngx FeedReader</h1>
        </a>
        <span class="toolbar-spacer"></span>
        <a mat-icon-button routerLink="/config" aria-label="configuration">
            <mat-icon>settings</mat-icon>
        </a>
    </mat-toolbar>
    <mat-sidenav-container class="topic-sidenav-container" autosize>
        <mat-sidenav #sidenav class="topic-sidenav" [opened]="(isScreenSmall | async) === false"
            [mode]="(isScreenSmall | async) ? 'over' : 'side'">
            <mat-nav-list>
                <a mat-list-item [routerLink]="['/topic/', 'saved-for-later']"> Saved </a>
                <mat-divider></mat-divider>
                <a mat-list-item *ngFor="let topic of (topics | async)" routerLinkActive="active-link" [routerLink]="['/topic/', topic.name]">
                    {{topic.name}}
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>