<app-channel-nav-bar #navBar (channelChange)="onSelectionChange($event)"></app-channel-nav-bar>
<div *ngIf="!!feedItems; else showLoading">
    <div class="feed-container">
        <app-feeds [feedItems]="feedItems"></app-feeds>
    </div>
    <div class="feed-footer mat-elevation-z4">
        <button mat-button (click)="navBar.nextChannel()">Next Feed</button>
        <div class="flex-spacer"></div>
        <button mat-button (click)="markAllRead()">Mark All As Read</button>
    </div>
</div>
<ng-template #showLoading>
    <div class="loading-container">
        <div>
            <mat-spinner></mat-spinner>
            <h3>Getting Feeds...</h3>
        </div>
    </div>
</ng-template>